@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Syne", sans-serif;
  font-size: 1.5rem; /* Reduced from 2rem */
  
  --dark: #060606;
  --light: #d6dfdc;
  --primary: #38849c;
}

body {
  background-color: var(--dark);
  color: var(--primary);
  overflow-x: hidden;
  overflow-y: scroll;
}
/* ----Navbar -----*/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: 80px; /* Adjusted height */
  margin: 0.2rem 11.2rem 0 0; /* Adjusted padding */
  z-index: 100;
  transition: top 0.3s ease-in-out;
}

.navbar li {
  display: inline-block;
  margin: 0 0.5rem; /* Adjusted margin */
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.9rem; /* Reduced font-size */
  color: var(--light);
}

.navbar li:hover {
  color: var(--primary);
  cursor: pointer;
}
/* ----Introduction -----*/
.introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 2% 0 14%; /* Adjusted margins */
}

.textContainer {
  max-width: 45%; /* Reduced width */
  padding: 0 0 0 1.5rem;
}

.heyThere {
  color: var(--light);
  font-size: 1.1rem; /* Reduced font size */
  margin: 0 0 80px 0; /* Adjusted margin */
}

.myName {
  margin: 0 0 80px 0;
}
.myName span {
  font-family: "Playfair+Display", serif;
  font-size: 2.3rem; /* Adjusted font size */
  text-transform: uppercase;
  font-weight: 100;
}

.myName .light {
  color: var(--light);
}

.myName .primary {
  color: var(--primary);
}

.introduction-text {
  color: var(--light);
  font-size: 1.1rem; /* Adjusted font size */
  margin: 0 0 2rem 0; /* Adjusted margin */
}

.imgContainer {
  position: relative;
  max-width: 35%; /* Adjusted width */
}

#gradient1 {
  width: 145%; /* Adjusted width */
  position: absolute;
  top: 0;
  left: -13.2rem;
  z-index: 1;
}

#profilePicture {
  width: 110%; /* Adjusted width */
  transform: translateX(3rem); /* Adjusted transform */
  position: relative;
  top: 0;
  left: -350px;
  z-index: 2;
}
/* ----Skills -----*/

.skills {
  margin: 100px 0; /* Adjusted margin */
}

.serviceCard {
  width: 260px; /* Adjusted width */
  height: 290px; /* Adjusted height */
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  padding: 20px;
  margin: 0 24px;
}

.serviceCardLogo {
  width: 90px; /* Adjusted width */
  height: 90px; /* Adjusted height */
  margin-bottom: 80px; /* Adjusted margin */
}

.serviceCardLabel {
  color: white;
  font-size: 28px; /* Adjusted font size */
  font-weight: bold;
  margin: 0;
}

.serviceCardRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 48px 0;
}

/* ----Footer-----*/

.footerContent {
  display: flex;
  flex-direction: row;
  padding: 1.5rem 1.5rem; /* Adjusted padding */
  justify-content: space-around;
  color: var(--light);
  background-color: #1e1e1e;
}

.footerContent * {
  font-size: 18px; /* Adjusted font size */
}

.footerContent h4 {
  font-size: 26px; /* Adjusted font size */
}

.socialMediaContainer {
  display: flex;
  flex-direction: row;
  max-height: 64px;
  margin: 0 0 0.7rem;
}

.socialMediaContainer a {
  width: 2rem; /* Adjusted size */
  margin: 0 5px;
}

.socialMediaContainer a img {
  width: 100%;
}

.contactItem {
  display: flex;
  align-items: center;
  max-height: 24px;
}

.contactItem label {
  margin: 0 0 4px 14px;
}

.pagesItem * {
  list-style: none;
}

.allRightsReserved * {
  display: flex;
  justify-content: center;
  background-color: #1e1e1e;
  color: var(--light);
  font-size: 18px; /* Adjusted font size */
  font-weight: 200;
  padding: 8px 0 12px;
  border-top: 1px solid var(--dark);
}

/* -------- Projects ---------- */

 
/* -------- Side Text ---------- */
.sideTextContainer{
position: relative;
display: flex;
justify-content: flex-end;

}

